


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


form {
  background-color: rgb(201, 220, 221); ;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 0.875rem;
}

textarea {
  height: 100px;
  resize: vertical;
}

button {
  background-color: #4f46e5;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: hotpink;
}


.error {
  color: #ef4444;
  font-size: 0.875rem;
  margin-top: 10px;
}

.success {
  color: #10b981;
  font-size: 0.875rem;
  margin-top: 10px;
}


ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

li p {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.5;
}

li img {
  width: 100px;
  height: auto;
  border-radius: 4px;
  margin-top: 10px;
}

li button {
  background-color: #ef4444;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

li button:hover {
  background-color: indigo;
}
